[user]
	signingkey = {{ .gitSigningKey }}
	name = Emruz Hossain
	email = {{ .email }}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
