{{- $email:= .personal.email -}}
{{- $gitSigningKey:= .personal.gitSigningKey -}}
{{- if eq .profile "work" -}}
  {{- $email = .work.email -}}
  {{- $gitSigningKey = .work.gitSigningKey -}}
{{- end -}}
[user]
	signingkey = {{ $gitSigningKey }}
	name = Emruz Hossain
	email = {{ $email }}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/

[includeIf "gitdir:~/personal/"]
    path = ~/personal/.gitconfig

[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	commit = yellow
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = red
	branch = magenta

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[interactive]
	singleKey = true

[merge]
	conflictStyle = diff3
