{{- $sshIdentityFile:= .personal.sshIdentityFile -}}
{{- if eq .profile "work" -}}
  {{- $sshIdentityFile = .work.sshIdentityFile -}}
{{- end -}}
Host github.com
  HostName github.com
  User git
  IdentityFile {{ $sshIdentityFile }}
