@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,

#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#workspaces button {
  font-family: "Cantarell";
  font-weight: bold;
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 0;
  padding-left: 5px;
  padding-right: 2px;
}

#workspaces button.active {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}

#workspaces .workspace-label {
  padding-left: 3px;
}

#workspaces .taskbar-window {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces .taskbar-window.active {
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

#workspaces .taskbar-window image {
  margin-top: 1px;
}

#workspaces button.urgent {
  border-top: solid 1px red;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
