# Extra autostart processes
# exec-once = uwsm app -- my-service

# Start hyprscrolling plugin
exec-once = hyprpm reload

# Start autostart script to open apps maintaining order
exec-once = ~/.config/hypr/autostart.sh

