# Application bindings
$terminal = uwsm app -- $TERMINAL
$browser = omarchy-launch-browser

# Common bindings
bindd = SUPER, RETURN, Terminal, exec, $terminal
bindd = SUPER SHIFT, F, File manager, exec, uwsm app -- nautilus --new-window
bindd = SUPER SHIFT, B, Browser, exec, $browser
bindd = SUPER SHIFT ALT, B, Browser (private), exec, $browser --private
bindd = SUPER SHIFT, N, Editor, exec, omarchy-launch-editor
bindd = SUPER SHIFT, M, Activity, exec, omarchy-launch-tui btop
bindd = SUPER SHIFT, D, Docker, exec, omarchy-launch-tui lazydocker
bindd = SUPER SHIFT, O, Obsidian, exec, omarchy-launch-or-focus obsidian "uwsm app -- obsidian -disable-gpu --enable-wayland-ime"
bindd = SUPER SHIFT, slash, Passwords, exec, uwsm app -- 1password
bindd = ALT, B, Bluetooth, exec, $terminal --title="bluetui" -e bluetui

bindd = SUPER SHIFT, Y, YouTube, exec, omarchy-launch-webapp "https://youtube.com/" --profile-directory=Personal
bindd = SUPER SHIFT, X, X, exec, omarchy-launch-webapp "https://x.com/" --profile-directory=Personal

{{if eq .profile "work" }}
# Work profile specific bindings
bindd = SUPER SHIFT, S, Slack, exec, omarchy-launch-or-focus slack
bindd = SUPER SHIFT, E, Email, exec, omarchy-launch-webapp "https://mail.google.com" --profile-directory=Work
bindd = SUPER SHIFT, C, Calendar, exec, omarchy-launch-webapp "https://calendar.google.com" --profile-directory=Work
bindd = SUPER SHIFT, T, Todoist, exec, omarchy-launch-webapp "https://app.todoist.com" --profile-directory=Work
{{ else }}
# Personal profile specific bindings
bindd = SUPER SHIFT, E, Email, exec, omarchy-launch-webapp "https://mail.google.com" --profile-directory=Personal
bindd = SUPER SHIFT, C, Calendar, exec, omarchy-launch-webapp "https://calendar.google.com" --profile-directory=Personal
bindd = SUPER SHIFT, T, Todoist, exec, omarchy-launch-webapp "https://app.todoist.com" --profile-directory=Personal
{{ end }}

# Special workspace related keybindings
bind = SUPER ALT, T, togglespecialworkspace, termspace
bind = SUPER ALT, G, togglespecialworkspace, grok
bind = SUPER ALT, J, togglespecialworkspace, gemini
bind = SUPER ALT, P, togglespecialworkspace, proton-pass
bind = SUPER ALT, M, togglespecialworkspace, proton-mail
bind = SUPER ALT, D, togglespecialworkspace, devtoolbox
bind = SUPER ALT, A, togglespecialworkspace, easyeffects
bind = SUPER ALT, K, togglespecialworkspace, omarchy-cheat-sheet
bind = SUPER ALT, N, togglespecialworkspace, neovim-cheat-sheet
# Overwrite existing bindings, like putting Omarchy Menu on Super + Space
# unbind = SUPER SHIFT, Space
# bindd = SUPER SHIFT, SPACE, Omarchy menu, exec, omarchy-menu

# Hyprscrolling bindings
bind = SUPER, period, layoutmsg, move +col
bind = SUPER, comma, layoutmsg, move -col
bind = SUPER SHIFT, period, layoutmsg, movewindowto r
bind = SUPER SHIFT, comma, layoutmsg, movewindowto l
bind = SUPER SHIFT, up, layoutmsg, movewindowto u
bind = SUPER SHIFT, down, layoutmsg, movewindowto d

